<div *ngIf="registroGuardado">
<div class="container">
    <div class="registro">
        <div class="title-check">
            <div class="check-container">
            <div class="check"><img src="../../assets/images/verificación.png" alt=""></div>
        <h3>Registro concluido</h3>
    </div>
    </div>
        
        <button *ngIf="registroGuardado._id !== undefined" (click)="borrarRegistro(registroGuardado._id.toString())"><img src="../../assets/images/ico_cancel.svg" alt="">Quiero cancelar mi cita</button>
    </div>

    <div class="curp-info">
        <div class="box1">
            <div>
                <p class="curp-container">CURP:</p>
            </div>
            <div class="curp-info-content">
                <p class="info-person">{{ registroGuardado.curp }}</p> <br>
                <p class="info-person">{{ registroGuardado.nombre }}</p>
            </div>
                
        </div>
        <div class="box2">
            <div class="icon"><img src="../../assets/images/Group 5447.svg" alt=""></div>
            <div class="text">
                <p id="text-1">Personas de 18 y más</p><br>
                <div class="dosis">
                <div id="num"><p>2</p></div> <p id="text-2">Segunda Dosis</p><br>
            </div>
                <p id="astra">ASTRA ZENECA</p> <br>
                <p id="text-3">Zapopan</p>
            </div>
        </div>
    </div>

    <div class="cita-info">
        <div class="modulo">
            <p>Módulo</p> <br><p class="info-person">{{ registroGuardado.modulo }}</p>
        </div>
        <div class="direccion">
            <p>Dirección </p><br><p class="info-person"> {{ registroGuardado.direccion }}</p>
        </div>
        <div class="fecha">
            <p>Fecha y hora:</p>
            <button>{{ registroGuardado.fecha }} {{ registroGuardado.hora }}</button>
        </div>
    </div>

    <div class="info">
        <p>Ya tienes asegurado el lugar y hora para tu vacunación, ahora, para asegurar tu dosis es muy importante que tambien te registres en <br>
            la plataforma federal. Ingresa <a href="">http://mivacuna.salud.gob.mx/</a> para obtener tu expediente de vacunación. <br>
            Recomendaciones para el día de tu vacunación:
        </p>
    </div>

</div>
</div>
