<nav>
    <ul>
      <li><a routerLink="/"><img src="../../assets/images/logo_jaliscosedefiende.svg" alt=""></a></li>
      
      <li><div class="vertical"></div></li>
      
      <li><a routerLink="/"><img src="../../assets/images/logo_jal.svg" alt=""></a></li>
    </ul>
    <ul>
      <li><a routerLink="/">Calculadora</a></li>
      
      <li><div id="ad-privacidad"><a routerLink="/"> <img src="../../assets/images/informacion.svg" alt="" id="Ico-AvPr"> </a><a href="">Aviso de Privacidad</a></div></li>
    </ul>
  </nav>
 
