<nav>
    <ul>
      <li><a routerLink="/"><img src="../../assets/images/Group 4009.svg" alt=""></a></li>
      <li><a routerLink="/productos"><img src="../../assets/images/Group 4023.svg" alt=""></a></li>
      <li><a routerLink="/productos"><img src="../../assets/images/Group 3548.svg" alt=""></a></li>
      <li><a routerLink="/productos"><img src="../../assets/images/Group 3999.svg" alt=""></a></li>
      <li><a routerLink="/productos"><img src="../../assets/images/Group 3546.svg" alt=""></a></li>
      <li><a routerLink="/productos"><img src="../../assets/images/Group 4112.png" alt=""></a></li>
      <li><a routerLink="/productos"><img src="../../assets/images/Group 5363.svg" alt=""></a></li>
      
    </ul>
  </nav>