<div class="container">
    <div class="title">
      <h2>Campañas activas de vacunación contra Covid-19 (ZMG)</h2>
    </div>
    <div class="box-selector">
      <img src="../../assets/images/ico_left.svg" alt="" class="img-effect" id="icon-right">
      <div class="box">
        <img src="../../assets/images/Group 5447.svg" alt="" class="icon">
        <div class="info"><p>Personas de 18 y más</p></div>
        <div class="dosis"><div class="numeral"><p>1  </p></div><p>Primera Dosis</p></div>
      </div>
      <div class="box">
        <img src="../../assets/images/Group 5447.svg" alt="" class="icon">
        <div class="info"><p>Personas de 18 y más</p></div>
        <div class="dosis"><div class="numeral"><p>2  </p></div><p>Segunda Dosis</p></div>
        <div class="astra"><h5>ASTRA ZENECA</h5><br><p>Primera dosis aplicada antes del <br>15 de Agosto</p></div>
      </div>
      <img src="../../assets/images/ico_left.svg"  class="img-effect" alt="">
    </div>
    <div class="divisor"></div>
    <div class="curp">
      <h2>Comenzar ahora</h2>
      <p>Ingresa tu CURP para agendar una cita <br> o para <a href="">cancelar una cita</a> ya registrada.</p>
    </div>
    <div class="curp-textbox">
      <input type="text" id="miTextbox" name="miTextbox"  placeholder="Introduce tu CURP">
      <button> Continuar </button>
    </div>
    <div class="consulta">
      <p>Si no conoces tu CURP <a href="">consulta aquí</a></p>
    </div>
  </div>